.bg-sky
{
    background-color: #f6f8fb;
}
.navbar-brand
{
    display: none;
}
.bg-c{color: #fff;}
.bg-c:hover{background-color: black;
color: #fff!important;}
.menu{
    padding-left: 0;
    margin-top: 0.6rem;
}
.menu li {
    list-style: none;
    float: left ;
    margin-right: 10px;
}
.menu a {
    text-decoration: none;
    padding: 3px;
}


.f-act
{
    
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
}
.e-ma
{
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
.s-ub
{
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    border-radius: 50px;
    color: #fff;
    background-color: #1977cc;
    padding: 0px 28px;

}
.header
{
    color: cornflowerblue;
    -webkit-text-stroke: medium;

}
.f-s
{
    color: cornflowerblue;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;

}
.items-inner
{
    margin-left: 50px;
}
.li-item {
    list-style: none;
    /* margin-left: 6px; */
    top: 0px;
    float: left;
    border-right: inset;
    padding:9px 2px;
}
.li-ite
{
    list-style: none;
}
.li-item:hover{color: #fff;
    background-color:#64b4fa;}

.li-item:hover  i{color:white;}

.li-item:hover  a{color:white;}


.link-item {
    text-decoration: none;
    color: black;
    /* margin-left: 8px; */
    padding: 5px 3px;
    font-size: 14px;
}

.f-c
{
    font-size: 15px;
    color: cornflowerblue;
    padding: 4px 3px;
    margin-right: 5px;
}
.heading {
    font-size: 70px;
    font-style: italic;
    color: cornflowerblue;
    font-family: cursive;
    margin-bottom: 25px;
}
.ind-btn
{
    background: #fff;
    color: black;
   
    margin-top: -36px;
    
    border: none;
}
