.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
.bg-sky
{
    background-color: #f6f8fb;
}
.navbar-brand
{
    display: none;
}
.bg-c{color: #fff;}
.bg-c:hover{background-color: black;
color: #fff!important;}
.menu{
    padding-left: 0;
    margin-top: 0.6rem;
}
.menu li {
    list-style: none;
    float: left ;
    margin-right: 10px;
}
.menu a {
    text-decoration: none;
    padding: 0px 10px;
}


.f-act
{
    
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
}
.e-ma
{
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
.s-ub
{
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    border-radius: 50px;
    color: #fff;
    background-color: #1977cc;
    padding: 0px 28px;

}
.header
{
    color: cornflowerblue;
    -webkit-text-stroke: medium;

}
.f-s
{
    color: cornflowerblue;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;

}
.items-inner
{
    margin-left: 50px;
}
.li-item {
    list-style: none;
    top: 0px;
    float: left;
   
    padding:9px 2px;
}
.li-ite
{
    list-style: none;
}
.li-item:hover{color: #fff;
    background-color:#64b4fa;}

.li-item:hover  i{color:white;}

.li-item:hover  a{color:white;}


.link-item {
    text-decoration: none;
    color: black;
    /* margin-left: 8px; */
    padding: 5px 3px;
    font-size: 14px;
}

.f-c
{
    font-size: 15px;
    color: cornflowerblue;
    padding: 4px 3px;
    margin-right: 5px;
}
.heading {
    font-size: 34px;
    font-style: normal;
    color: cornflowerblue;
    font-family: fantasy;
    margin-top: 5px;
}
.ind-btn
{
    background: #fff;
    color: black;
   
    margin-top: -36px;
    
    border: none;
}

.p-p
{
    margin-top: 30px;
    margin-bottom: 40px;
}
.a-p
{
    margin-top: 30px!important;
    margin-bottom: 40px!important;
}
.brdr
{
    
    border-radius: 7px;

}
.mtb
{
    margin-top: 2rem;
}
.h-tren
{
    font-size: 22px;
    font-style: normal;
    font-family: emoji;
}

.img-c
{
    height: 63px;
}
.con-acc
{
    padding: 10px;
}
.h-update
{
    margin-top: 10px;
}
.h-years
{
    color: #8787ff;
}



.pl-1
{
    padding-left: 204px;
}
.tddec
{
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 39px;
    height: 40px;
    transition: 0.3s;

}

.mbp
{
    margin-top: 25px;
   
}
.mw
{
    width: 79%;
    margin-left: 83px;
}
.bgc
{
    background-color:   #f6f8fb;
    margin-top: 2rem;
}
.pt
{
    padding-top: 50px!important;
    margin-bottom: 10px;
}
.text-acc
{
    margin-left: 14px;
}
.img-news1
{
    width: 100%;
    height: 150px;
}
.p-news1
{
    margin-top: 2px;
}
.plr
{
    padding: 10px 40px;
    
}
.news-sec1
{
    
    padding:  0px 15px;
    border-radius: 15px;
    box-shadow: 5px 6px 10px -3px;
    background: white;
}
.p-news2
{
    margin-top: 23px;
    font-size: 13px;
}
.f-act 
{
   height: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
}
.e-ma 
{
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
.s-ub
{
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    border-radius: 50px;
    color: #fff;
    background-color: #1977cc;
    padding: 0px 15px;
}
.menu-about
{
    border-right: 3px solid #e7dfdf
}
.icsm
{
    font-size: 15px;
    margin-bottom: 11px;
    padding-right: 10px;
    border-right: 3px solid #e7dfdf
}
.search-button
{
    height: 24px;
    margin-top: -5px;
}
.srch
{
    border-radius: 15px;
    margin-top: 6px;
    margin-right: 11px;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.logo-img
{   
    height: 30px;
    margin-top: 13px;
    margin-left: 5px;
}
.news-height
{
    height: 385px!important;
}
.mtn
{
    margin-top:39px;
}
.n-fs
{
    font-size:14px;
}
.p-news2
{
    margin-top: 10px;
    font-size: 10px;
}
.img-news2
{
    width: 100%;
    height: 130px;
   
}
.acc-title
{
    font-style: unset;
    font-family: serif;

}
.text-align-right
{
    font-style: revert;
    font-family: emoji;
    margin-bottom: 0px;
    margin-top: -13px;
}
.mr-5
{
    margin-right: 5px;
}




.fe-img
{
    width: 121%;
}
.lnf
{
    margin-bottom: 17px;
}
.lbg
{
    background-color: #f6f8fb;
    margin-top: 30px;
}

.plc
{
    padding: 30px 15px;
}


.last-icon
{
    margin-top: -7px;
}

.link-last
{
    list-style: none;
    float: left;
}
.icy
{
    color: red;
}
.fs
{
    font-size: 25px;
    margin-left: 15px;
}
.lmt
{
    margin-top: 30px;
}


.fsc
{
    font-size: 25px;
    color: #b81531;
    margin-left: 15px;
}
.lst-p
{
    margin-left: 68px;
    margin-top: 6px;

}




.mt-20
{
    margin-top: 2rem;
}
img.nav-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.nav-text {
    padding: 5px 8px;
}
.nav-news {
    box-shadow: 1px 6px 10px -2px;
    border-radius: 10px;
}
.nav-p
{
    margin-top: 20px;
}
.a-nav
{
    text-decoration: none;
    color: black;

}
.l-time
{
    margin-bottom: 0px;
    font-size: 11px;

}
/* list-style*/


