.bg-sky
{
    background-color: #f6f8fb;
    
}

.bg-img
{
    background-image: url(img2/raatbhar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
                                                                         
}
.bg-light 
{
    background-color: #f8f9fa!important;
}
.mb-2 
{
    margin-bottom: .5rem!important;
}
.pt-4 
{
    padding-top: 1.5rem!important;
}
.form 
{
    padding: 20px;
}
.mb-3
{
    margin-bottom: 1rem!important;
}
.form-control
 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
.submit-btn
{
    border: none;
    background-color: #003482d1;
    color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 15px;

}
.pt-6
{
    padding: 80px 20px!important;
}
.mc-r
{
    margin-top: 50px;
    background-color: aliceblue;
    margin-bottom: 50px;
}
.ptb
{
    padding: 36px 30px;
}
.ic-y
{
    
    color: #fff;

}
.cbox
{
    padding: 10px;
}



h2.down {
    margin-top: 20px;
    color: cornflowerblue;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    font-family: math;
}
.last-link
{
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 39px;
    height: 40px;
    transition: 0.3s;
}
.logo-img
{   
    height: 30px;
    margin-top: 13px;
    margin-left: 5px;
}